// mixin class
@mixin d-flex-space {
    display: flex;
    flex-wrap: wrap;
}
@mixin list-style-none {
    list-style-type: none;
}
@mixin img-button{
    width: 20px;
    height: 20px;
    padding: 1px;
}
@mixin width-center {
    margin: auto;
    width: 80%;
}
// general buttons
@mixin button-focus-hover {
    align-items: center;
    padding: 2px 5px;
    margin-bottom: 5px;
    border-radius: 4px;
    border: none;
    &:focus{
        outline: none;
    }
    &:hover{
        cursor: pointer;
    }
    &:active{
        position: relative;
        top: 1px;
    }
}
// /mixin class
// media queries variables
    $mobile: 550px;
    $tablet-min: 550px;
    $tablet-max: 998px;
    $desktop: 999px;
// / media queries variables
// title
@mixin big-title { 
   font-size: 2rem;
   font-weight: 400;
   text-align: center;
   padding-top: 2rem; 
}
// / title
// alone img
@mixin alone-img {
    height: 25rem;
    width: auto;
    display: block;
    margin: auto;
}
// /alone img