// mixin class
@mixin d-flex-space {
    display: flex;
    justify-content: space-between;
}
@mixin list-style-none {
    list-style-type: none;
}
@mixin img-button{
    width: 20px;
    height: 20px;
    padding: 1px;
}
// general buttons
@mixin button-focus-hover {
    &:focus{
        outline: none;
    }
    &:hover{
        cursor: pointer;
    }
    &:active{
        position: relative;
        top: 1px;
    }
}
// /mixin class