// header id 
#header_nav{
    @include d-flex-space;
    @include width-center;
    padding-top: 1rem;
    border-bottom: 1px solid black;
    justify-content: space-between;
    ul{
      display: flex;
      align-items: center;
      @include list-style-none;
      @media screen and (max-width: $tablet-max){
        display: none;
      }
        
      li{
        padding: 0 1rem;
      }
    //   bottone dex navbar
      button{
        @include d-flex-space;
        @include button-focus-hover;
        background-color: white;
        border: 1px solid black;
          img{
             @include img-button; 
          }
      }
    }
    .hamburger{
      font-size: 2rem;
      display: none;
      
      @media screen and (max-width: $tablet-max){
        display: block;
        
      }
    }
    
  }
#logo{
     
    span{
      color: $color;
    }
}
