/* general settings */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* general settings */
/* Import partials*/
@import "../partials/commons";
@import "../partials/palette-colours";
@import "../partials/header"
// /* /Import partials*/

